recursive-include src/skilllogboard/skills *.md
recursive-include src/skilllogboard/dashboards/templates *.j2
recursive-include src/skilllogboard/live/templates *.html *.css
recursive-include src/skilllogboard/live/static/app *
